.container{
    height:500px;
    width:400px;
    box-shadow: 0px 0px 17px 15px #3113c7;
    text-align:bottom;
    display: flex;
    -moz-box-pack: end;
    


}    
.button{
    text-align: center;
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size:xx-large;
}
.buttons:hover{
    background-color: #3113c7;
    color:aliceblue;
    
}


